/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fbfbfb;
}

.btn-secondary {
    background-color: #969ba0 !important;
    border-color: #969ba0 !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #2f4cdd;
    border-color: #2f4cdd;
    color: #fff;
}

.btn-primary:hover {
    background-color: #203cc5;
    border-color: #1e38bb;
    color: #fff;
}

.light-shadow {
    box-shadow: 0px 12px 23px 0px rgb(62 73 84 / 4%)
}

.border-20 {
    border-radius: 20px;
}

.text-light-gray {
    color: #7e7e7e;
}

.btn-success {
    background-color: #2bc155 !important;
    border-color: #2bc155 !important;
    padding: 0.5rem 1.2rem;
}

.btn-success:hover {
    background-color: #24a247 !important;
    border-color: #24a247 !important;
}

.container-fluid {
    padding: 0px 50px;
}