<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
            <app-bar-chart [chart_title]="'Distribution'" [sub_title]="'Previous Week'"></app-bar-chart>
        </div>
        <!-- Start: Right side -->
        <div class="col-md-6 col-sm-12">
            <!-- Start: Area, Distribution, E-mail elements -->
            <div class="row cards">
                <div class="col-md-6 col-sm-12">
                    <app-image-card [image_path]="'./assets/images/icons/placeholder.png'" [title]="'124'" [sub_title]="'Area'"></app-image-card>
                </div>
                <div class="col-md-6 col-sm-12">
                    <app-image-card [image_path]="'./assets/images/icons/email.png'" [title]="'260'" [sub_title]="'E-mail'"></app-image-card>
                </div>
                <div class="col-md-6 col-sm-12">
                    <app-image-card [image_path]="'./assets/images/icons/distribution.png'" [title]="'365'" [sub_title]="'Distribution'"></app-image-card>
                </div>
            </div>
            <!-- End: Area, Distribution, E-mail elements -->
        </div>
        <!-- End: Right side -->
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
            <app-doughnutchart></app-doughnutchart>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-items-list [items]="items"></app-items-list>
        </div>
    </div>


</div>